@{
    ViewBag.Title = "CASTANO & Asociados";
}
<div class="row">
    <!--Intro-->
    <div class="col-lg-4">
        <div class="panel-body" id="leftPanel">
            <h4 class="parrafo">
                <strong>CASTANO & asociados</strong> es una empresa dedicada a la proyección de imagen y sonido. Contamos con más de 30 años de trayectoria avalada por nuestros clientes.
                <br />
                <br />
                Nuestro personal capacitado y nuestros equipos de última generación se adecuan a las necesidaes para brindar un excelente servicio y cumplir con las expectativas del cliente
            </h4>
        </div>
    </div>
    <!--Carousel-->
    <div class="col-lg-8">
        <div id="Carousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#Carousel" data-slide-to="0" class="active"></li>
                <li data-target="#Carousel" data-slide-to="1"></li>
                <li data-target="#Carousel" data-slide-to="2"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <img src="~/Content/img/20151120 - Gador.jpg" alt="Mic" style="margin:auto;">
                    <div class="carousel-caption">
                        <h3>Gador</h3>
                        <p>Gador se reunió en el salón Lamorak, Holiday Inn.</p>
                    </div>
                </div>
                <div class="item">
                    <img src="~/Content/img/20151117 - Celulosa.jpg" alt="Mixer" style="margin:auto;">
                    <div class="carousel-caption">
                        <h3>Celulosa</h3>
                        <p>Celulosa en el salón.</p>
                    </div>
                </div>
                <div class="item">
                    <img src="~/Content/img/20151114 - Conceptual.jpg" alt="Pantalla" style="margin:auto;">
                    <div class="carousel-caption">
                        <h3>Conceptual</h3>
                        <p>Conceptual en el hotel Presidente.</p>
                    </div>
                </div>
            </div>

            <!-- Left and right controls -->
            <a class="left carousel-control" href="#Carousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#Carousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</div>
<p>
</p>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Nuestros Servicios
            </div>
            <div class="panel-body">
                asdasd sa das dasdasd as
            </div>
        </div>
    </div>
</div>